<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>UserRegistration.jsp</display-name>
    <servlet-name>UserRegistration.jsp</servlet-name>
    <servlet-class>com.Flightbooking.servlets.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration.jsp</servlet-name>
    <url-pattern>/UserRegistration.jsp</url-pattern>
  </servlet-mapping>
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FlightInsert</servlet-name>
    <servlet-class>com.Flightbooking.servlets.FlightInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFlights</servlet-name>
    <servlet-class>com.Flightbooking.servlets.ListFlights</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.Flightbooking.servlets.LoginAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.Flightbooking.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Flightbooking.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.Flightbooking.servlets.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightInsert</servlet-name>
    <url-pattern>/FlightInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFlights</servlet-name>
    <url-pattern>/ListFlights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
</web-app>